<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberDAO">
  <select id="selectMemberList" resultType="me.study.member.Member">
    SELECT *
    FROM MEMBER
  </select>

  <insert id="inertMember" parameterType="me.study.member.Member"
    useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    INSERT INTO MEMBER
    (
     EMAIL,
     PASSWORD,
     NAME,
     REGDATE
    )
    VALUES
    (
     #{email},
     #{password},
     #{name},
     SYSDATE()
     );
  </insert>
</mapper>
